* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    overflow: hidden;
    color: white;
    text-align: center;
    background: radial-gradient(circle at top, #00111f, #000814);
    height: 100vh;
}

/* Estrelas canvas */
#stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

/* Cabeçalho */
header {
    position: relative;
    z-index: 2;
    padding-top: 3rem;
}

header h1 {
    font-size: 2rem;
    color: #ffd700;
    text-shadow: 0 0 10px #ff0;
}

header p {
    color: #ddd;
    margin-top: 0.5rem;
}

/* Formulário */
main {
    position: relative;
    z-index: 2;
    margin-top: 3rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px);
}

input,
textarea {
    width: 100%;
    border: none;
    border-radius: 8px;
    padding: 0.8rem;
    font-size: 1rem;
    outline: none;
}

textarea {
    height: 100px;
    resize: none;
}

button[type="submit"] {
    background: #ff3333;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 0.8rem 1.2rem;
    cursor: pointer;
    transition: 0.3s;
}

button[type="submit"]:hover {
    background: #ff5555;
}

/* Música */
#som {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 0.8rem 1rem;
    cursor: pointer;
    z-index: 3;
    font-size: 1.2rem;
}

/* Resposta */
#resposta {
    margin-top: 2rem;
    font-size: 1.2rem;
    background: rgba(255, 255, 255, 0.15);
    padding: 1rem;
    border-radius: 10px;
    width: fit-content;
    margin-inline: auto;
}

.hidden {
    display: none;
}

/* Rodapé */

footer {
    text-align: center;
    margin-top: 100px;
    color: gray;
}

footer,
a {
    text-decoration-line: none;
}

a {
    color: red;
}